<div class='welcome' style='text-align: center'>Welcome to the Makers Rock, Paper, Scissors Game</div>
<div class='register' style='text-align: center'><a href='/register'>register</a></div>
<div class='login' style='text-align: center'><a href='/login'>log in</a></div>
<div class='end_game' style='text-align: center'><a href='/end_game'>log out</a></div>
<div class='instructions' style='text-align: center'><%= @game.message %></div>
<div class='play' style='text-align: center'><%= @game.user2_name %> vs. <%= @game.user_name %> : select rock, scissors or paper</div>
<div class='rock' style='text-align: center'><a href='/rock'>R O C K</a></div>
<div class='paper' style='text-align: center'><a href='/paper'>P A P E R</a></div>
<div class='scissors' style='text-align: center'><a href='/scissors'>S C I S S O R S</a></div>
<div class='score' style='text-align: center'><%= @game.user2_name %>: <%= @game.user2_score %>/<%= @game.user2_played %> vs. <%= @game.user_name %>: <%= @game.user_score %>/<%= @game.user_played %></div>