<div class='welcome' style='text-align: center'>Welcome to the Makers Rock, Paper, Scissors Game</div>
<div class='register' style='text-align: center'><a href='/register'>register</a></div>
<div class='login' style='text-align: center'><a href='/login'>log in</a></div>
<div class='end_game' style='text-align: center'><a href='/end_game'>log out</a></div>
<div class='login' style='text-align: center'><a href='/rps2'>Traditional RPS</a></div>
<div class='login' style='text-align: center'><a href='/spock_lizard2'>Spock Lizzard</a></div>
<div class='instructions' style='text-align: center'><%= @game.message %></div>
<div class='play' style='text-align: center'><%= @game.user2_name %> vs. <%= @game.user_name %> : <b><%= @game.user_name %> </b>select rock, scissors or paper</div>

<center>
  <form action='/my_choice2' method='post'>
  <button type='submit' name='my_choice' value='rock' >R O C K</button></form>
  <form action='/my_choice2' method='post'>
  <button type='submit' name='my_choice' value='paper' >P A P E R</button></form>
  <form action='/my_choice2' method='post'>
  <button type='submit' name='my_choice' value='scissors' >S C I S S O R S</button></form>
</center>
<% if @game.spock? %>
<center>
  <form action='/my_choice2' method='post'>
  <button type='submit' name='my_choice' value='spock' >S P O C K</button></form>
  <form action='/my_choice2' method='post'>
  <button type='submit' name='my_choice' value='lizard' >L I Z A R D</button></form>
</center>
<% end %>

<div class='score' style='text-align: center'><%= @game.user2_name %>: <%= @game.user2_score %>/<%= @game.user2_played %> vs. <%= @game.user_name %>: <%= @game.user_score %>/<%= @game.user_played %></div>